html{
    font-family: 'Architects Daughter', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Nunito Sans', sans-serif;
	box-sizing: border-box;
}
*, ::after, ::before{
	box-sizing: inherit;
}
.section{
    padding:25px 0;
}
.sectionCentered{
    text-align: center;
}